body {
    margin: 0;
    background-color: #ececec;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(92, 106, 235);
    margin-top: 180px;
    word-spacing: 5px;

}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: #ececec;
    border-radius: 100px;
    text-align: center;
    padding: 20px;
    box-shadow: 10px 10px 15px #c7c4c4,
        -10px -10px 15px white;
}

.box a .fa-brands {
    font-size: 30px;
    width: 80px;
    height: 80px;
    line-height: 80px;
    overflow: hidden;
    margin: 0 15px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px #c7c4c4,
        -5px -5px 5px #fff;
    transition: .3s;
}

.box a .fa-facebook {
    color: #1877F2;
}

.box a .fa-twitter {
    color: #1DA1F2;
}

.box a .fa-instagram {
    color: #E4405F;
}

.box a .fa-linkdin {
    color: #0A66C2;
}

.box a .fa-brands:hover {
    color: black;
    box-shadow: inset 5px 5px 10px #c7c4c4,
        inset -5px -5px 10px #fff;
}